.xswpph-col {
  width: 437px;
  float: none;
}

.xswpph-col label {
    font-style: bold;
}
.xswpph-enables {
	display: none;
}
.xswpph-tab{
    background-color: #fff;
}
.xswpph-pro{
    color:#2fbb1c;
    font-weight: inherit;
    font-size: 14px;
}
.xswpph-pro-link{
    text-decoration: none;
}
.xswpph-button{

}
.xswpph-col-button {
    width:380px;
    float: left;
    
}
.xswpph-button-main{
    display: inline-block;
    width: 160px
}
.xswpph-button-main p.submit{
    margin: 0px;
    padding-bottom: 0px;
}
#xswpph_name,#xswpph_email{
    width: 335px;
}
.xs-send-email-notice{
  display: none;
}
.xs-notice-dismiss{
  display:none;
}
.xswpph-send-mail{
    font-size: 15px !important;
    font-family: bold;
    padding: 2px 15px !important;
}
.xswpph_is_active{
    display:inline-block;
    visibility:visible;
    opacity:1
}
.xswpph-top-margin{
    margin-top: 20px !important; 
}
.xswpph-mail-spinner{
    margin-top: 38px ;
}
.error{
    outline: 1px solid red;
}
.input-group{
    display: inline-flex;
}
@media (max-width: 425px){
    .xswpph-col {
      width: 400px;
      float: none;
    }
}
@media (max-width: 380px){
    .xswpph-col {
      width: 310px;
      float: none;
    }
    .xswpph-col-button {
      width: 310px;
      float: left;
    } 
}


